<div class="container mainContainer">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <span class="text-danger" ng-show="serviceErrorMsg">Sorry! Fixer API response not found. Please try after some time.</span>
        <div class="panel panel-body panel-default">

            <h4>Currency Converter</h4>

            <p>Type in amount and select currency:</p>

            <div>
                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                    <input type="text" class="form-control" placeholder="0.00" ng-model="fromValue" valid-number ng-change="currencyConverterFunction()">

                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                    <select ng-model="fromType" class="form-control" required ng-change="currencyConverterFunction()" ng-options="key for (key, value) in rates track by value">
                    </select>

                </div>
            </div>
            <p class="converted-amt">Converted amount:</p>
            <div>
                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                    <input type="text" disabled="disabled" placeholder="0.00" class="form-control" ng-model="toValue">

                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                    <select ng-model="toType" class="form-control" required ng-change="currencyConverterFunction()" ng-options="key for (key, value) in rates track by value">
                    </select>
                </div>
            </div>

            <div class="disclaimer">
                <span> <a href="#"  ng-class="{'disclaimer-style': isActive}" ng-click="toggleDisclaimerMessage()">Disclaimer </a> </span>
                <span id="disclaimerMessage" ng-show="disclaimerText">: This site is only for user purpose and conversion rates are subject to change based on Fixer API.</span>
            </div>
        </div>
    </div>
</div>
    
