.mainContainer {
  margin-top: 50px !important; }

.converted-amt {
  margin-top: 50px !important; }

.form-control {
  padding: 3px 6px !important; }

.panel {
  min-width: 220px !important; }

.panel-default {
  border-color: #080808 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #fff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #fff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #fff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.container {
  padding-left: 0px !important; }
@media (min-width: 425px) {
  .container {
    width: 425px; } }

.disclaimer {
  margin-top: 60px; }

.disclaimer-style {
  float: right; }

#errorDiv {
  text-align: center !important;
  margin-top: 25px !important; }
